<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @private.Title %>
</p>

<p>
  <strong>:</strong>
  <%= @private. %>
</p>

<p>
  <strong>Date:</strong>
  <%= @private.Date %>
</p>

<p>
  <strong>:</strong>
  <%= @private. %>
</p>

<%= link_to 'Edit', edit_private_path(@private) %> |
<%= link_to 'Back', privates_path %>
